services:
  # Base de Datos (MySQL / MariaDB)
  zabbix-db:
    image: mariadb:10.11
    container_name: zabbix-db
    restart: always
    command: --character-set-server=utf8 --collation-server=utf8_bin
    environment:
      MYSQL_DATABASE: zabbix_db
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbixPassword2026!
      MYSQL_ROOT_PASSWORD: rootPassword2026!
    volumes:
      - ./mysql/data:/var/lib/mysql
    # Conexión del contenedor a una red personalizada
    networks:
      - networkubuntu

  # Zabbix Server
  zabbix-server:
    image: zabbix/zabbix-server-mysql:latest
    container_name: zabbix-server
    restart: always
    ports:
      - "10051:10051"
    environment:
      ZBX_STARTREPORTWRITERS: 3
      ZBX_WEBSERVICEURL: http://zabbix-web-service:10053/report
      DB_SERVER_HOST: zabbix-db
      MYSQL_DATABASE: zabbix_db
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbixPassword2026!
      MYSQL_ROOT_PASSWORD: rootPassword2026!
    depends_on:
      - zabbix-db
    # Conexión del contenedor a una red personalizada
    networks:
      - networkubuntu

  # Interfaz Web (Nginx + MySQL)
  zabbix-web:
    image: zabbix/zabbix-web-nginx-mysql:latest
    container_name: zabbix-web
    restart: always
    ports:
      - "8080:8080"
    cap_add:
      - SYS_ADMIN # Necesario para que Chrome funcione en contenedores
    environment:
      ZBX_SERVER_HOST: zabbix-server
      DB_SERVER_HOST: zabbix-db
      MYSQL_DATABASE: zabbix_db
      MYSQL_USER: zabbix
      MYSQL_PASSWORD: zabbixPassword2026!
      PHP_TZ: Europe/Madrid
      # Usuario Admin y la contraseña zabbix.
    depends_on:
      - zabbix-db
      - zabbix-server
    # Conexión del contenedor a una red personalizada
    networks:
      - networkubuntu

  zabbix-web-service:
    image: zabbix/zabbix-web-service:latest
    container_name: zabbix-web-service
    restart: always
    ports:
      - "10053:10053"
    environment:
      - ZBX_ALLOWED_HOSTS=zabbix-server # Permite que el server le pida informes
    cap_add:
      - SYS_ADMIN # Crítico para el Chrome interno
    networks:
      - networkubuntu

  ubuntu:
    # Fuerza la arquitectura amd64 (útil si se ejecuta en Apple Silicon o entornos mixtos)
    platform: linux/amd64
    # Construcción de la imagen Docker
    build:
      # Contexto de construcción (directorio actual)
      context: .
      # Dockerfile que se usará para construir la imagen
      dockerfile: ubuntu/Dockerfile
    # Nombre fijo del contenedor (en lugar de uno generado automáticamente)
    container_name: ubuntu22_server
    # Mantiene el contenedor activo y permite interacción por terminal
    tty: true
    stdin_open: true
    # Mapeo de puertos
    # Puerto 8006 del host → puerto 80 del contenedor (por ejemplo, para Nginx o Apache)
    ports:
      - "8006:80"
      - "10050:10050" # Abrimos el puerto del agente por si acaso
    # Conexión del contenedor a una red personalizada
    networks:
      - networkubuntu

# Definición de redes personalizadas
networks:
  networkubuntu:
    # Red bridge por defecto (aisla el contenedor del resto)
    driver: bridge